#recent-searches {
	padding-bottom: 60px;
}

#index-body{
	background-image: url("../images/background.png");
	background-size: 135%;
	background-repeat: no-repeat;
	background-position: center;

	
	
}

html{
	height: auto;
}


header {
	padding-top: 30px;
}

/* CSS FOR FULL PAGE BACKGROUND (EVEN WHEN WINDOW SIZE CHANGES) */
#index-body{ 
	background: url("../images/background.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* STICKY FOOTER STYLES */
html {
	position: relative;
  	min-height: 100%;
}
body {
  	/* Margin bottom by footer height */
  	margin-bottom: 80px;
}
.footer {
	text-align: center;
	position: absolute;
	font-size: 12px;
	bottom: 0;
 	width: 100%;
	/* Set the fixed height of the footer here */
	height: 80px;
	/* Vertically center the text by making line height same as footer height */
	line-height: 80px;
	background-color: #ff8a80;
	color: white;
}	
>>>>>>> ab47265424b1cde18f25600e4a492109dc46b39a
img {
	width: 200px;
	height: auto;
}

h6 {
	font-size: 25px;
	text-align: left;
}
.recipe-option-img{
	height: 240px;
	max-width:  200px;
}
	.option-card{
	max-width:  200px;
	text-align: center;
	vertical-align: text-top;
	float: left;
	margin-right: 15px;
}
.imgdiv{
	height:  300px;
	overflow: hidden;
}
.title{
	margin-top: 1.5px;
	font-size: 12px;
}
.page-footer {
	text-align: center;
	background-color: #ee6e73;
	
}

::placeholder { /* IE 10+ */
  color: #A9A9A9;
}

.groceryItem{
	max-width: 85px;
	max-height: 100px;
}
#recipeImg{
	border-top-color: #CCC;
	border-width: 5px;
}
.recent{
	font-size: 18px;
	color: black;
}
.recent:hover {
       text-decoration: underline;
}

.brand-logo{
	font-family: 'Courgette', cursive;
}
.submit-btn {
	background-color: orange;
	color: white;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px; 
	padding: 15px;
}
nav {
	margin-bottom: 30px;
}
