#recent-searches {
	padding-bottom: 60px;
}

#index-body{
	background-image: url("../images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
}


header {
	padding-top: 30px;
}

img {
	width: 200px;
	height: auto;
}

h6 {
	font-size: 10px;
	text-align: left;
}


.recipe-option-img{

height: 240px;
max-width:  200px;
}

.option-card{
max-width:  200px;
text-align: center;
vertical-align: text-top;
float: left;
margin-right: 15px;

}

.imgdiv{
height:  300px;
overflow: hidden;
}

.title{

	margin-top: 1.5px;
	font-size: 12px;
}


.page-footer {
	text-align: center;
	background-color: #ee6e73;
}


::placeholder { /* IE 10+ */
  color: #A9A9A9;
}

.groceryItem{

	max-width: 85px;
	max-height: 100px;
}


#recipeImg{
	border-top-color: #CCC;
	border-width: 5px;
}


.recent{

	font-size: 18px;
	color: black;
}

.recent:hover {
       text-decoration: underline;
}



