#recent-searches {
	padding-bottom: 60px;
}

header {
	padding-top: 30px;
}

img {
	width: 200px;
	height: auto;
}

h6 {
	font-size: 20px;
	text-align: left;
	margin: none;
}

body {
/*	background-image: url("../images/cooking-1.png");
*/
}

.page-footer {
	text-align: center;
}